#root {
    padding: 0 15px;
}

.Form {
    width: 500px;
}

.Split {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 10px 0;
}

.SplitInput {
    width: 50px;
    text-align: center;
}